@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Sometype Mono', monospace;
	margin: 0;
	padding: 0;
	border-box: box-sizing;
}

body {
	@apply bg-gray-200 text-gray-800;
}

h1 {
	@apply text-3xl font-bold mb-3 tracking-tight scroll-m-20 lg:text-4xl;
}

p {
	@apply leading-7 text-balance;
}
